<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzv5VRfN2-p2sdUts4JaIZW27CT1aWExw</string>
	<key>GCM_SENDER_ID</key>
	<string>99672888618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseJournalAppWithBloc</string>
	<key>PROJECT_ID</key>
	<string>bloc-gallery-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-gallery-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99672888618:ios:307d29dbe9f8281ba67a53</string>
</dict>
</plist>